

body{
    font-family: 'Acme', sans-serif;
 }
.container-v {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
}
.container-v div {
    flex: 1;
    height: 50vh;
    transition: flex 0.5s ease-out;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.container-v div h5 {
    padding-top: 20vh;
    transition: color 0.5s ease-out;
}
.container-v .left-v {
    background-image: url("../img/4.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    /*background: #00a54f;*/
}
.container-v .left-v:hover {
    flex: 1.5;
}
.container-v .left-v:hover h1 {
    color: #a4aeb3;
}
.container-v .left-v::after {
    width: 100px;
    height: 100px;
    background: black;
}
.container-v .right-v {
    background: #ffffff;
    color: #00a54f;
   
}
.container-v .right-v:hover {
    flex: 1.5;
}
.container-v .right-v:hover h1 {
    color: #00a54f;
}

.c-green{
    background-color: #00a54f !important;
}

.text-green{
    color: #00a54f;
}

.btn-btn{
    width: 100%;
    height: 54px;
    line-height: 2.5;
    font-size: 22px;

}

.box-contac{
    background-color: rgba(255, 255, 255, 0.4);
    width: 50%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.box-publi{
    background-color: rgba(109, 109, 109, 0.4);
     padding: 20px;
    
}

.box-contac textarea.materialize-textarea{
    padding: 0 !important;
}

.about-service{
    
    padding: 40px;
    background: linear-gradient(289, 80, 50);
}

.about{
    width:100%;
    height:150px;
    background-color: #00a54f;
}
 .about-header{
    background-image: url(img/header-bgtop2.png);
 }

 #contact .p-contac{
     height: 100px !important;
     padding: 20px;
 }
